{
    "presets": ["@babel/preset-env"],
    "plugins": ["@babel/plugin-transform-runtime",["import", {
        "libraryName": "pagoda-mobile",
        "libraryDirectory": "es",
        "style": true
      }]]
}